/* ==========================================================================
  c-button
   ========================================================================== */

/* Variables
   ========================================================================== */

$c-button-primary-color: #e938c2 !default;
$c-button-link-color: $c-button-primary-color !default;

/* Component
   ========================================================================== */

.c-button {
  padding: 0.6rem 1.2rem;
  display: inline-flex;
  border-radius: 0.2rem;
  border: none;
  appearance: none;
  border-radius: 0.6rem;
  font-size: 1.6rem;
  font-family: $g-text-font-family;
  @at-root a#{&} {
    text-decoration: none;
  }
}


/* Skin variants
 ========================================================================== */

.c-button--default {
  background: #ddd;
  color: #333;
}

.c-button--primary {
  background: $c-button-primary-color;
  color: #fff;
  &:hover,
  &:focus {
    background: lighten($c-button-primary-color, 10%);
  }
  &:active {
    background: darken($c-button-primary-color, 10%);
  }
}

.c-button--outline {
  padding: calc(0.6rem - 0.1rem) calc(1rem - 0.1rem);
  border: 0.1rem solid $g-gray-300;
  color: $g-gray-600;
  .svg-icon {
    * {
      fill: $g-gray-600;
    }
    margin: 0.2rem 0.6rem 0 0;
  }
  &:hover {
    border-color: $g-gray-600;
  }
}

.c-button--link {
  color: $c-button-link-color;
}

/* Size variants
 ========================================================================== */

.c-button--large {
  padding: 1.2rem 2.4rem;
}