/* ==========================================================================
  c-container
   ========================================================================== */

.c-container {
  width: 120rem;
  margin: 0 auto;
}