/* ==========================================================================
  c-content
   ========================================================================== */

.c-h1 {
  font-weight: 600;
  color: $g-heading-color;
  line-height: 1.25;
  font-family: $g-headings-font-family;
  margin: 0 0 1.6rem;

  font-size: 3.2rem;
  @media (min-width: $g-bp-2) {
    font-size: 4rem;
  }
}

.c-h2 {
  font-weight: 600;
  line-height: 1.25;
  color: $g-heading-color;
  font-family: $g-headings-font-family;
  margin: 0 0 1.6rem;
  
  font-size: 2.4rem;
  @media (min-width: $g-bp-2) {
    font-size: 3.2rem;
  }
  
}

.c-h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: $g-heading-color;
  margin: 0 0 1.6rem;
}

.c-h4 {
  font-size: 1.6rem;
  font-weight: 600;
  color: $g-heading-color;
  margin: 0 0 1.6rem;
}

.c-p {
  margin-bottom: 1.6rem;
}

.c-ul {
  margin: 0 0 1.6rem 2.4rem;
}

.c-ul > li {
  list-style: disc;
}

.c-content {

  a {
    color: #597CD7;
    text-decoration: none;
    border-bottom: 1px solid #B6C8F5;
  }

  a:visited {
    color: #AD62BF;
    border-color: #E8BDF3;
  }

  h1 {
    font-weight: 600;
    color: $g-heading-color;
    font-family: $g-headings-font-family;
    margin: 0 0 1.6rem;
    
    font-size: 3.2rem;
    @media (min-width: $g-bp-2) {
      font-size: 4rem;
    }
  }

  h2 {
    font-weight: 600;
    color: $g-heading-color;
    font-family: $g-headings-font-family;
    margin: 0 0 1.6rem;
    
    font-size: 2.4rem;
    @media (min-width: $g-bp-2) {
      font-size: 3.2rem;
    }
  }

  h3 {
    font-size: 1.8rem;
    font-weight: 600;
    color: $g-heading-color;
    margin: 0 0 1.6rem;
  }

  h4 {
    font-size: 1.6rem;
    font-weight: 600;
    color: $g-heading-color;
    margin: 0 0 1.6rem;
  }

  p {
    margin-bottom: 1.6rem;
  }

  ul {
    margin: 0 0 1.6rem 2.4rem;
  }
  
  strong {
    font-weight: 600;
  }
  
  em {
    font-style: italic;
  }

  li {
    list-style: disc;
  }

  code {
    font-size: 85%;
    padding: 0.3rem;
    border-radius: 0.2rem;
    font-family: Monaco, Menlo, monospace;
    background: #FFF6FF;
  }

}
