/* ==========================================================================
  c-container-horizontal
   ========================================================================== */

.c-container-horizontal {
  max-width: 120rem;
  margin: 0 auto;
}

.c-container-horizontal--narrow {
  max-width: 70rem;
  margin: 0 auto;
}