/* ==========================================================================
  c-container-horizontal
   ========================================================================== */

.c-container-horizontal {
  max-width: 124.8rem;
  margin: 0 auto;
  padding: 0 2.4rem;

  @media (min-width: $bp-navigation-medium) {
    padding: 0 4.8rem;
  }
}

.c-container-horizontal--narrow {
  max-width: 70rem;
  margin: 0 auto;
}
