.c-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid $g-divider-color;
  padding: 1.6rem 3.2rem;
}

.c-header .c-navigation {
  margin-left: auto;
}
