/* ==========================================================================
  c-hr
  ---
  Horizontal rule
   ========================================================================== */

.c-hr {
  margin: 1.6rem 0;
  border: none;
  padding: 1.6rem 0;
  border-bottom: 1px solid #DDD;
}

.c-hr--big {
  margin: 3.2rem 0;
  padding: 3.2rem 0;
}