/* ==========================================================================
  c-hero
  ---
  The intro on the home page
   ========================================================================== */

.c-hero {
  background-image: url("/images/logo-background.png");
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.50) 25%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.50) 75%, rgba(255,255,255,1) 100%), url("/images/logo-background.png");
  background-size: cover;
  display: flex;
  flex-direction: column-reverse;

  @media (min-width: $g-bp-2) {
    padding: 0 0 9.6rem;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }
}

.c-hero__content {
  width: 100%;

  @media (min-width: $g-bp-2) {
    width: 50%;
    margin-right: 4rem;
    margin-bottom: 0;
  }
}

.c-hero__para {
  padding: 0 0 1.6rem 0;
  @media (min-width: $g-bp-2) {
    font-size: 2rem;
  }
}

.c-hero__title {
  font-weight: 600;
  color: $g-heading-color;
  line-height: 1.25;
  font-family: $g-headings-font-family;
  margin: 0 0 1.6rem;
  font-size: 2.8rem;
  @media (min-width: $g-bp-2) {
    font-size: 4rem;
  }
}

.c-hero__illustration {
  background-color: #FFF6FF;
  border-radius: 0.8rem;
  width: 100%;
  margin-bottom: 3.2rem;
  padding: 1.6rem;

  @media (min-width: $g-bp-2) {
    padding: 3.2rem 4rem;
    width: 50%;
    border: 0.1rem solid #FD8AF7;
    background-color: #FFF;
    margin-bottom: 0;
  }
}

.c-hero__illustration img {
  max-width: 100%;
}
