/* ==========================================================================
  c-hero
   ========================================================================== */

.c-hero {
  background-image: url("/images/logo-background.png");
  background: linear-gradient(0deg, rgba(255,255,255,1) 0%, rgba(255,255,255,0.50) 25%, rgba(255,255,255,0) 50%, rgba(255,255,255,0.50) 75%, rgba(255,255,255,1) 100%), url("/images/logo-background.png");
  background-size: cover;

  @media (min-width: $bp-navigation-medium) {
    padding: 9.6rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.c-hero__content {
  width: 100%;
  margin-bottom: 3.2rem;

  @media (min-width: $bp-navigation-medium) {
    width: 50%;
    margin-right: 4rem;
    margin-bottom: 0;
  }

  p {
    font-size: 2rem;
    padding: 0 0 1.6rem 0;
  }
}

.c-hero__illustration {
  border: 0.1rem solid #FD8AF7;
  background-color: #FFF;
  padding: 3.2rem 4rem;
  border-radius: 0.8rem;
  width: 100%;

  @media (min-width: $bp-navigation-medium) {
    width: 50%;
  }
}

.c-hero__illustration img {
  max-width: 100%;
}
