/* ==========================================================================
  c-logo
   ========================================================================== */

.c-logo {
  display: flex;
  width: 15rem;
  margin: 0 0 4rem;

  img {
    width: 100%;
  }

}
