/* ==========================================================================
  c-main-layout
   ========================================================================== */

#routify-app {
  height: 100%;
}

.c-main-layout {
  display: flex;
  height: 100%;
  overflow: hidden;
}

.c-main-layout__sidebar {
  display: none;
  @media (min-width: $g-bp-2) {
    display: block;
  }
}

.c-main-layout__sidebar {
  height: 100%;
  min-width: 32rem;
  max-width: 32rem;
  padding: 4.8rem 2.4rem;
  overflow: scroll;
  flex: 0 0 32rem;
  border-right: 0.1rem solid $g-gray-100;
}

.c-main-layout__content {
  flex: 1 1 auto;
  padding: 2.4rem 4.8rem;
  overflow: scroll;
  .c-container-horizontal {
    margin: 0 auto;
  }
}