/* ==========================================================================
  Pagination
   ========================================================================== */

.c-pagination {
  margin-top: 4.8rem;
  display: flex;
  justify-content: space-between;
}
