/* ==========================================================================
  Styleguide component
   ========================================================================== */

.c-styleguide-component__inner {
  padding: 3.2rem;
  border: 0.1rem solid $g-gray-100;
  margin: 1.6rem 0;
}
