/* ==========================================================================
  c-tabs
   ========================================================================== */

.c-tabs button {
  padding: .8rem;
  background: #FFF;
  color: $g-primary-color;
  border: none;
  font-family: $g-text-font-family;
  font-size: 1.6rem;
  font-weight: 500;

  &:hover,
  &:focus {
    border-bottom: 0.2rem solid $g-primary-color;
    color: $g-text-color;
    outline-style: none;
  }
}

.c-tabs {
  .selected {
    border-bottom: 0.2rem solid $g-primary-color;
    color: $g-text-color;
  }
}
