/* ==========================================================================
  c-tabs-pages
   ========================================================================== */

.c-tabs-pages {
  border: 0.1rem dashed #AFB9CB;
  border-radius: .6rem;
  margin-top: 1.6rem;
  padding: 1.6rem;
  margin-bottom: 1.6rem;
}