/* ==========================================================================
  Object: svg icon
   ========================================================================== */

.o-svg-icon--size-24 {
  width: 2.4rem;
  height: 2.4rem;
}