/* ==========================================================================
  Object: svg icon
   ========================================================================== */

.o-svg-icon--size-16 {
  width: 1.6rem;
  height: 1.6rem;
}

.o-svg-icon--size-24 {
  width: 2.4rem;
  height: 2.4rem;
}