/* ==========================================================================
   s-variables
   Prefixed with $g-
   ========================================================================== */

/* Colors
   ========================================================================== */

$g-heading-color: #000000;
$g-text-color: #4C5567;
$g-divider-color: #C9CDD4;
$g-primary-color: #E938C2;
$g-link-color: #BD239B;
$gray-300: #B2BACC;
$gray-700: #4C5567;

/* Type
   ========================================================================== */

$g-headings-font-family: "Overpass", sans-serif;
$g-text-font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

/* Breakpoints
   ========================================================================== */

$g-bp-1: 500px;
$g-bp-2: 900px;
