/* ==========================================================================
   Global variables
   Prefixed with $g-
   ========================================================================== */

/* Type
   ========================================================================== */

$g-heading-color: #000000;
$g-text-color: #4C5567;
$g-divider-color: #C9CDD4;
$g-headings-font-family: "Overpass", sans-serif;

/* Breakpoints
   ========================================================================== */

$bp-navigation-small: 500px;
$bp-navigation-medium: 900px;
