/* ==========================================================================
   s-variables
   Prefixed with $g-
   ========================================================================== */

// Grays
$g-gray-100: #DEE3EC;
$g-gray-200: #C9CDD4;
$g-gray-300: #B2BACC;
$g-gray-600: #4C5567;
$g-gray-800: #1D2C48;
$gray-300: #B2BACC; // to remove once merge fixed
$gray-700: #4C5567; // to remove once merge fixed

// Pinks
$g-pink-500: #E938C2;
$g-pink-700: #BD239B;


// Blues
$g-blue-500: #597CD7;

/* Semantic links to colors
   ========================================================================== */

$g-heading-color: $g-gray-800;
$g-text-color: $g-gray-600;
$g-divider-color: $g-gray-200;
$g-primary-color: $g-pink-500;
$g-link-color: $g-blue-500;

/* Spacer unit
   <1 to 6>
   ========================================================================== */

$g-spacer-1: 0.8rem;
$g-spacer-2: 1.6rem;
$g-spacer-3: 2.4rem;
$g-spacer-4: 3.2rem;
$g-spacer-5: 4.8rem;
$g-spacer-6: 9.6rem;

/* Type
   ========================================================================== */

$g-headings-font-family: "Overpass", sans-serif;
$g-text-font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

/* Breakpoints
   ========================================================================== */

$g-bp-1: 500px;
$g-bp-2: 900px;
