---
layout: default
---

<!-- routify:options index=25 -->
<!-- routify:options title="PWA & offline first" -->

# PWA & Offline avaibility
To enable offline availability, you can turn your SPA into a PWA (Progressive Web App), by importing `src/serviceworker.svelte` from any file.
