/* ==========================================================================
  Styles for Routify Docs Website 2020
   ========================================================================== */
/* ==========================================================================
  Reset
   ========================================================================== */
html, body {
  margin: 0;
  padding: 0; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0; }

ul, ol {
  list-style: none;
  padding: 0;
  margin: 0; }

/* ==========================================================================
   Colors
   ========================================================================== */
/* ==========================================================================
  s-fonts
   ========================================================================== */
@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Regular.woff2?v=3.11") format("woff2"), url("../fonts/Inter-Regular.woff?v=3.11") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 400;
  font-display: swap;
  src: url("../fonts/Inter-Italic.woff2?v=3.11") format("woff2"), url("../fonts/Inter-Italic.woff?v=3.11") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-Medium.woff2?v=3.11") format("woff2"), url("../fonts/Inter-Medium.woff?v=3.11") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 500;
  font-display: swap;
  src: url("../fonts/Inter-MediumItalic.woff2?v=3.11") format("woff2"), url("../fonts/Inter-MediumItalic.woff?v=3.11") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBold.woff2?v=3.11") format("woff2"), url("../fonts/Inter-SemiBold.woff?v=3.11") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 600;
  font-display: swap;
  src: url("../fonts/Inter-SemiBoldItalic.woff2?v=3.11") format("woff2"), url("../fonts/Inter-SemiBoldItalic.woff?v=3.11") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-Bold.woff2?v=3.11") format("woff2"), url("../fonts/Inter-Bold.woff?v=3.11") format("woff"); }

@font-face {
  font-family: 'Inter';
  font-style: italic;
  font-weight: 700;
  font-display: swap;
  src: url("../fonts/Inter-BoldItalic.woff2?v=3.11") format("woff2"), url("../fonts/Inter-BoldItalic.woff?v=3.11") format("woff"); }

/* overpass-regular - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/overpass-v4-latin-regular.eot");
  /* IE9 Compat Modes */
  src: local("Overpass Regular"), local("Overpass-Regular"), url("../fonts/overpass-v4-latin-regular.eot?#iefix") format("embedded-opentype"), url("../fonts/overpass-v4-latin-regular.woff2") format("woff2"), url("../fonts/overpass-v4-latin-regular.woff") format("woff"), url("../fonts/overpass-v4-latin-regular.ttf") format("truetype"), url("../fonts/overpass-v4-latin-regular.svg#Overpass") format("svg");
  /* Legacy iOS */ }

/* overpass-700 - latin */
@font-face {
  font-family: 'Overpass';
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/overpass-v4-latin-700.eot");
  /* IE9 Compat Modes */
  src: local("Overpass Bold"), local("Overpass-Bold"), url("../fonts/overpass-v4-latin-700.eot?#iefix") format("embedded-opentype"), url("../fonts/overpass-v4-latin-700.woff2") format("woff2"), url("../fonts/overpass-v4-latin-700.woff") format("woff"), url("../fonts/overpass-v4-latin-700.ttf") format("truetype"), url("../fonts/overpass-v4-latin-700.svg#Overpass") format("svg");
  /* Legacy iOS */ }

/* ==========================================================================
   Global variables
   Prefixed with $g-
   ========================================================================== */
/* Type
   ========================================================================== */
/* Breakpoints
   ========================================================================== */
/* ==========================================================================
  Base
  Only base element styling
   ========================================================================== */
*, *:before, *:after {
  box-sizing: border-box; }

html, body {
  height: 100%; }

html {
  font-size: 62.5%; }

body {
  border-top: 0.4rem solid #E938C2;
  background: #FFF;
  color: #4C5567;
  font-family: "Inter", sans-serif;
  line-height: 1.5;
  font-size: 1.6rem; }

/* ==========================================================================
  c-button
   ========================================================================== */
/* Variables
   ========================================================================== */
/* Component
   ========================================================================== */
.c-button {
  padding: 0.6rem 1rem;
  display: inline-flex;
  border-radius: 0.2rem;
  border: none;
  appearance: none;
  border-radius: 0.8rem;
  font-size: 1.6rem; }

a.c-button {
  text-decoration: none; }

.c-button--default {
  background: #DDD;
  color: #333; }

.c-button--primary {
  background: #E938C2;
  color: #FFF; }
  .c-button--primary:hover, .c-button--primary:focus {
    background: #ee66d0; }
  .c-button--primary:active {
    background: #d618ac; }

.c-button--link {
  color: #E938C2; }

.c-button--large {
  padding: 1.6rem 2rem; }

/* ==========================================================================
  c-container-horizontal
   ========================================================================== */
.c-container-horizontal {
  max-width: 120rem;
  margin: 0 auto; }

.c-container-horizontal--narrow {
  max-width: 70rem;
  margin: 0 auto; }

/* ==========================================================================
  c-container-vertical
   ========================================================================== */
.c-container-vertical {
  padding: 4.8rem 0; }

/* ==========================================================================
  c-content
   ========================================================================== */
.c-h1 {
  font-size: 3.2rem;
  font-weight: 600;
  color: #000000;
  line-height: 1.25;
  font-family: "Overpass", sans-serif;
  margin: 0 0 1.6rem; }

.c-h2 {
  font-size: 2.4rem;
  font-weight: 600;
  line-height: 1.25;
  color: #000000;
  font-family: "Overpass", sans-serif;
  margin: 0 0 1.6rem; }

.c-h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #000000;
  font-family: "Overpass", sans-serif;
  margin: 0 0 1.6rem; }

.c-h4 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000000;
  font-family: "Overpass", sans-serif;
  margin: 0 0 1.6rem; }

.c-p {
  margin-bottom: 1.6rem; }

.c-ul {
  margin: 0 0 1.6rem 2.4rem; }

.c-ul > li {
  list-style: disc; }

.c-content h1 {
  font-size: 3.2rem;
  color: #000000;
  font-family: "Overpass", sans-serif;
  margin: 0 0 1.6rem; }

.c-content h2 {
  font-size: 2.4rem;
  color: #000000;
  font-family: "Overpass", sans-serif;
  margin: 0 0 1.6rem; }

.c-content h3 {
  font-size: 1.8rem;
  font-weight: 600;
  color: #000000;
  font-family: "Overpass", sans-serif;
  margin: 0 0 1.6rem; }

.c-content h4 {
  font-size: 1.6rem;
  font-weight: 600;
  color: #000000;
  font-family: "Overpass", sans-serif;
  margin: 0 0 1.6rem; }

.c-content p {
  margin-bottom: 1.6rem; }

.c-content ul {
  margin: 0 0 1.6rem 2.4rem; }

.c-content li {
  list-style: disc; }

.c-content code {
  font-size: 85%;
  padding: 0.3rem;
  border-radius: 0.2rem;
  font-family: Monaco, Menlo, monospace;
  background: #FFF6FF; }

/* ==========================================================================
  c-footer
   ========================================================================== */
.c-footer {
  border-top: 0.1rem solid #C9CDD4;
  padding: 1.6rem 3.2rem; }

.c-header {
  align-items: center;
  display: flex;
  justify-content: space-between;
  border-bottom: 0.1rem solid #C9CDD4;
  padding: 1.6rem 3.2rem; }

.c-header .c-navigation {
  margin-left: auto; }

/* ==========================================================================
  c-hero
   ========================================================================== */
@media (min-width: 900px) {
  .c-hero {
    padding: 9.6rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center; } }

@media (max-width: 900px) {
  .c-hero__content {
    margin-bottom: 2.4rem; } }

.c-hero__illustration {
  border: 0.1rem solid #FD8AF7;
  padding: 2.4rem 4.8rem;
  border-radius: 0.8rem; }

@media (min-width: 900px) {
  .c-hero__illustration img {
    max-width: 38rem; } }

/* ==========================================================================
   c-navigation
   ========================================================================== */
.c-navigation ul {
  display: flex;
  font-weight: 500;
  -webkit-font-smoothing: antialiased; }

.c-navigation ul li {
  list-style: none; }

.c-navigation a {
  text-decoration: none; }
  .c-navigation a:hover {
    color: #000; }

.c-navigation__item--selected a {
  color: #000; }

.c-navigation ul li + li a {
  margin-left: 3.2rem; }

.c-navigation-mobile {
  display: none; }

.c-navigation-toggle {
  display: none;
  text-decoration: none; }

@media (max-width: 900px) {
  .c-navigation {
    display: none; }
  .c-navigation-mobile {
    background: #FFF;
    bottom: 0;
    display: block;
    left: 0;
    opacity: 0;
    pointer-events: none;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 10;
    height: 100%;
    overflow: auto; }
  .c-navigation-mobile__links {
    padding: 9.6rem 4.8rem 0; }
  .c-navigation-mobile__links ul {
    padding: 0;
    margin: 0;
    list-style: none; }
  .c-navigation-mobile__links ul li {
    font-size: 1.8rem;
    padding: 0;
    transition: 0.2s all ease-out;
    opacity: 0;
    transform: translateY(0.8rem); }
    .c-navigation-mobile__links ul li a {
      display: block;
      text-decoration: none;
      padding: 1.6rem 0; }
    .c-navigation-mobile__links ul li.current-menu-item a {
      color: #FFF;
      font-weight: 500; }
  .c-navigation-mobile__links li + li {
    border-top: 0.2rem solid red; }
  .c-navigation-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    z-index: 11; }
    .c-navigation-toggle svg {
      display: block; } }
    @media (max-width: 900px) and (prefers-color-scheme: dark) {
      .c-navigation-toggle svg rect {
        fill: #FFF; } }

@media (max-width: 900px) {
  .c-navigation-toggle__label {
    color: #000;
    margin-right: 0rem;
    display: inline-flex; } }
  @media (max-width: 900px) and (prefers-color-scheme: dark) {
    .c-navigation-toggle__label {
      color: #FFF; } }

@media (max-width: 900px) {
  .c-navigation-toggle__line1,
  .c-navigation-toggle__line2,
  .c-navigation-toggle__line3 {
    transform-origin: 20px 20px;
    transition: all 0.2s ease-in-out; }
  .c-navigation-toggle__line1 {
    transform: translateY(-0.7rem); }
  .c-navigation-toggle__line3 {
    transform: translateY(0.7rem); }
  .c-navigation-toggle--active svg * {
    fill: #FFF; }
  .c-navigation-toggle--active .c-navigation-toggle__label {
    color: #FFF; }
  .c-navigation-toggle--active .c-navigation-toggle__line1 {
    transform: rotate(-45deg); }
  .c-navigation-toggle--active .c-navigation-toggle__line2 {
    opacity: 0;
    transform: scaleX(0); }
  .c-navigation-toggle--active .c-navigation-toggle__line3 {
    transform: rotate(45deg); }
  .c-navigation-mobile--active {
    opacity: 1;
    pointer-events: auto; }
    .c-navigation-mobile--active .c-navigation-mobile__links li {
      opacity: 1;
      transform: translateY(0); } }

@media (max-width: 500px) {
  .c-navigation-mobile__links {
    padding: 9.6rem 2.4rem 0; } }

/* ==========================================================================
  c-usps
   ========================================================================== */
.c-usps__item {
  margin: 0 0 2.4rem; }

@media (min-width: 900px) {
  .c-usps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around; }
  .c-usps__item {
    flex: 1 0 29%;
    padding-right: 2.4rem; } }

/* ==========================================================================
  Utilities: Flex
   ========================================================================== */
.u-flex {
  display: flex; }

/* ==========================================================================
  Utilities: Spacer
   ========================================================================== */
.u-spacer {
  padding: 1.6rem; }

/*# sourceMappingURL=style.css.map */