/* Reset CSS Start based on https://gist.github.com/robinrendle/1d20c566c5e5fbd67f25 */
/*Box sizing (the nuclear option) */
*,
::before,
::after {
    -ms-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    font-family: var(--font-family);
}

:root {
    font-size: 16px;
    font-family: var(--font-family);
}

/* Fix font rendering defaults */
html,
button {
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    font-size: 100%;
}

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
input,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
section,
summary,
time,
mark,
audio,
video {
    margin: 0;
    padding: 0;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

caption,
th,
td {
    text-align: left;
    font-weight: normal;
    vertical-align: middle;
}

strong,
b,
mark {
    font-weight: bold;
    font-style: inherit;
}

em,
i,
cite,
q,
address,
dfn,
var {
    font-style: italic;
    font-weight: inherit;
}

a,
u,
ins {
    text-decoration: none;
}

pre,
code,
samp,
kbd {
    font-family: monospace;
}

iframe {
    width: 100%;
}

img {
    max-width: 100%;
    height: auto;
    border: none;
}

input,
select,
textarea {
    font: inherit;
}

button {
    cursor: pointer;
}

a {
    text-decoration: none;
    color: var(--anchor-colour);
}

h1 {
    font-size: 3rem;
    color: var(--heading-colour);
    font-family: var(--heading-font-family);
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 2rem;
}

h4 {
    font-weight: 500;
    font-size: 1.5rem;
}

h5 {
    font-weight: 500;
    font-size: 1.2rem;
}

h6 {
    font-size: 0.8rem;
}

p,
button {
    font-size: 1rem;
}
