@import 'greset/scss/greset';

:root,
html,
body {
    font-family: var(--font-family);
    color: var(--colour);
}

h1 {
    font-family: var(--heading-font-family);
    color: var(--heading-colour);
}

a {
    color: var(--anchor-colour);
}
